body{
    text-align:center;
background-color: rgb(1,1,1);
color: silver;
}
h1{
    color: gold;
}
h2{
    color: lightskyblue;
}
h3{
    color: whitesmoke;

}

div{
    text-align: center;
    border: 3px solid antiquewhite;
    width: 700px;

    padding: auto;
    margin: auto;
}